<h2 class="m-3" style="text-align: center;">Welcome to GAP Genius</h2>
<div class="container text-center">
    <div class="row">
        <div class="col-12 col-md-8 offset-md-2">
            <h4>We're scrapping your grades from <a target="_blank"
                    href="https://stdch.menofia.education/static/PortalStudent.html">Ibn-Elhaytham</a> website,</h4>
            <h4>and calculate your gpa, it's <span class="text-danger">MAGIC</span>!</h4>
        </div>
    </div>
</div>

<div class="container p-5">
    <div class="row justify-content-center">
        <!-- Form -->
        <div class="col-12 col-md-6">
            <form (ngSubmit)="calcGPA(coursesForm)" [formGroup]="coursesForm">
                <h4>Ibn-Elhaytham</h4>
                <div class="form-group">
                    <label for="html-grades">HTML for grades page</label>
                    <textarea formControlName="html" class="form-control" id="html-grades" rows="5"
                        placeholder="HTML For Abn-Elhaytham grades page"></textarea>
                </div>
                <br>
                <hr>
                <div class="d-flex mb-2">
                    <h4>Term Courses</h4>
                    <a type="button" class="btn-sm ms-3" (click)="addNewCourse()">
                        <i class="fas fa-plus"></i>
                    </a>
                    <a *ngIf="showMinusIcon()" type="button" style="color: red;" class="btn-sm ms-3" (click)="removeCourse()">
                        <i class="fas fa-minus"></i>
                    </a>
                </div>
                <div formArrayName="grades" class="form-group">
                    <div class="form-group row mb-3" *ngFor="let grade of grades.controls; let i = index">
                        <div class="col-12">
                            <div class="row align-items-center">
                                <label for="{{'course' + i+1}}" class="col-md-2 col-form-label">
                                    Course {{ i + 1 }}
                                </label>
                                <div class="col-md-5 col-sm-8">
                                    <input class="form-control" [formControlName]="i" type="number" min="0" max="100"
                                        id="{{'course' + i+1}}" placeholder="Enter grade for course {{i + 1}}">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
                <button type="submit" class="btn btn-primary mt-3 mb-3">Submit</button>
            </form>
        </div>

        <!-- Results -->
        <div class="col-12 col-md-6">
            <h3>Result</h3>
            <hr>
            <ng-container *ngIf="showResult; else nanNumber">
                <p>Term GPA : {{ response?.termGPA }} - {{ response?.termGrade }} </p>
                <p>Comulitive GPA : {{ response?.cumulativeGPA }} - {{ response?.cumulativeGrade }} </p>
            </ng-container>
            <ng-template #nanNumber>
                <p>Term GPA : NaN </p>
                <p>Comulitive GPA : NaN </p>
            </ng-template>
            <div *ngIf="errorFound">
                <hr>
                <h3 style="color: red;">Opps, {{ apiError.message }}!</h3>
            </div>
        </div>
    </div>
</div>