<div class="about-page" style="text-align: center; min-height: 85vh;" dir="rtl">
    <h1 style="margin-bottom: 30px;">أهلا يا صديقي</h1>
    <p>
        Genius  هو تطبيق مبتكر يهدف إلى مساعدة الطلاب المصريين على إدارة تحصيلهم الدراسي بفاعلية أكبر.
    </p>
    <p>
        نحن نتفهم التحديات التي يواجهها الطلاب في الحفاظ على تتبع مستمر للدرجات وحساب المعدل التراكمي (GPA) بدقة.
        لذلك، قمنا بتطوير تطبيق يقوم بأتمتة هذه العملية تمامًا.
    </p>
    <ul style="list-style: none; padding: 0;">
        <li>
            <i class="fas fa-sync"></i> يوفر جينيس المعدل التراكمي الوقت والجهد من خلال استخراج درجاتك تلقائيًا من موقع
            جامعة ابن الهيثم.
        </li>
        <li>
            <i class="fas fa-calculator"></i> يقوم التطبيق بحساب معدلك التراكمي بدقة بناءً على نظام جامعة ابن الهيثم.
        </li>
        <li>
            <i class="fas fa-chart-line"></i> يوفر لك جينيس المعدل التراكمي تحليلات واضحة لتوفيقك بأهدافك الأكاديمية.
        </li>
    </ul>
    <p>
        عش تجربة إدارة درجاتك بسهولة مع جينيس المعدل التراكمي.
        ركز على دراستك واترك علينا باقي الأمور.
    </p>
</div>